<li id='<%= product.id %>' >
	<span id='name' >
		<%= product.name %>
	</span>
	<span id='price'><%= product.price %></span>
	<%= link_to "Delete", product_path(product), method: 'delete', remote: true %>
</li>